@media (max-width: 899px) {
    .content_display{
        width: 100%;
    }
  }

@media (min-width: 900px) {
    .content_display{
        width: 70%;
    }
}

.cropped {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150vh;
    max-height: 60vh;
    overflow: hidden;
  }

#image_box{
    width: 100%;
    height: auto;
}

.cropped img {
    min-width: 100vh;
    width: 100%;
    height: auto;
}

#information_container{
    background: linear-gradient(#00000080 0%, #00000099 97%, #000000cc 100%);
}

.information{
    text-align: center;
    padding-bottom: 5vh;
}

.information h1{
    padding-top: 1vh;
    text-decoration: underline;
    color: white;
}

.information h3{
    text-decoration: underline;
}

.information h5{
    align-content: center;
    margin-bottom: 0;
}

#info_grid{
    margin-right: auto!important;
    margin-left: auto!important;
}

/* .padding_border{
    padding: 2vh;
} */

#event_image_display{
    width:100%;
}

#button_style_create{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    color: white;
    border-color: rgb(30, 30, 30);
    margin-bottom: 1rem;
}

@media (max-width: 992px) {
    #wrapper_button {
      max-width: 75%;
      padding-bottom: 3vh;
      padding-top: 3vh;
    }
    #chip_input_witdh {
        max-width: 75%;
    }
  }
  @media (min-width: 993px) {
    #wrapper_button {
      max-width: 50%;
      padding-bottom: 3vh;
    }
    #chip_input_witdh {
        max-width: 50%;
    }
  }

.underline_text{
    text-decoration: underline;
    text-align: center;
}

#register_card{
    background-color:#b7e3ff;
}

#inputfield_padding{
    padding-bottom: 1rem;
}