@media (max-width: 899px) {
  .content_display {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .content_display {
    width: 70%;
  }
}

.cropped {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150vh;
  max-height: 60vh;
  overflow: hidden;
  border-bottom: solid;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

#image_box {
  width: 100%;
  height: auto;
}

.cropped img {
  max-height: 100vh;
  width: 100%;
  height: auto;
}

#information_container {
  background: linear-gradient(#00000080 0%, #00000099 97%, #000000cc 100%);
}

.information {
  padding-bottom: 5vh;
}

.information h1 {
  padding-top: 1vh;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 1rem;
  color: #d5edff;
}

.information h3 {
  text-decoration: underline;
}

.information h5 {
  align-content: left;
  margin-bottom: 0;
}

#info_grid {
  margin-right: auto !important;
  margin-left: auto !important;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  background-color: #d5edff;
}

#padding_border {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

#event_image_display {
  width: 100%;
  height: auto;
}

#button_style_create {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  border-color: rgb(30, 30, 30);
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  #wrapper_button {
    max-width: 75%;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
  #chip_input_witdh {
    max-width: 75%;
  }
  #info_grid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  #wrapper_button {
    max-width: 50%;
    padding-bottom: 3vh;
  }
  #chip_input_witdh {
    max-width: 50%;
  }
  #info_grid {
    border: solid;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.blue_text {
  color: #d5edff;
}
.underline_text {
  text-decoration: underline;
  text-align: center;
}

#register_card {
  background-color: #b7e3ff;
}

#inputfield_padding {
  padding-bottom: 1rem;
}

/*buttons to select what result is shown*/
.btn-custom.active {
  background-color: #3691aa;
  color: white;
  }

.table_color{
  background-color: #67adc0;
  color: #ffffff;
}
/*Result table*/

.result_table table {
  border-collapse: collapse;
  width: 80%;
  font-size: 14px;
  color: #000000;
}

.result_table th,
.result_table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #01141e6b;
}

.result_table th {
  background-color: #0949535b;
  border: 1px solid #01141e00;
  border-bottom: 1px solid #01141e6b;
}

.result_table tr:nth-child(odd) {
  background-color: #9be5fc; /* Change the color code to your desired color */
}

.result_table tr:nth-child(even) {
  background-color: #88dcd2;
}

.result_table tr:not(:first-child):hover {
  background-color: #ffffff65;
  transition: background-color 0.2s ease-in-out;
}

.more_info_button {
  width: 100%;
  height: auto;
  padding: 0px;
}

.no_padding {
  padding: 0px !important;
}

.no_padding_vert {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.no_padding_hor {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
