*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #b7e3ff;
}

.image_div{
    margin-top: 10rem;
}

/*Main page*/
.container1{
    width: 100%;
    background-color: linear-gradient(#0000004d 0%,#0000004d 10%, #000000cc 100%);
    background-blend-mode: luminosity;
}

/*Login prompts and components*/
#form-box-style{
    width: 100%;
    max-width: 30rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


.input-group{
    width: 100%;
    display: flex;
    margin-top: 5%;
}

.input-field{
    flex-basis: 100%;
    background-color: #eaeaea;
    margin: 3% 0;
    align-items: center;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 12px 10px;
    font-weight: 500;
    font-size: 1.2rem;
}

/*Button*/
.btn-field{
    width: 100%;
    display: flex;
    margin-top: 3%;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

.btn-field button{
    flex-basis: 100%;
    background: black;
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 500;
    font-size: 1.2rem;
}

.btn-field button:hover{
    background-color: rgb(30, 30, 30);
}


/*paragrafs and links*/
#ptext{
    color: #B7E3FF;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
}

#atext{
    color: #B7E3FF;
    font-style: bold;
}

a:hover{
    color: #B7E3FF
}

/*Navbar*/
#navtext{
    font-size: 1.3rem;
    font-weight: bold;
}
#navtext:hover{
    color: #fff;
}
/*Navbar*/


.form-box h1{
    font-weight: 600;
    font-size: 3.5rem;
    color: #B7E3FF;
    position: relative;
}

@media (max-width: 574px) {
    .form-box h1{
        font-size: 2.8rem;
    }
}
@media (min-width: 575px) {
    .form-box h1{
        font-size: 3.5rem;
    }
}

