/*Footer*/
#footer-container h5{
  text-decoration: underline;
  color: white;
}

#footer-container a{
  text-decoration: none;
  color: white;
}



body {
    background-color: #B7E3FF;
}

.op30 {
    opacity: 30%;
}

.bg-30 {
    background-color: #0000004D;
}

.drop_shadow{
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

#image_run{
    display: block;
}

#searchFade{
  background: linear-gradient(#0000004d 0%, #00000080 80%);
}

/*searchbar*/
.wrapper {
    width: 90%;
    max-width: 31.25rem;
    margin: 0rem auto;
  }

  .searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #searchQueryInput {
    width: 100%;
    height: 3rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }

  #searchQuerySubmit {
    width: 3.5rem;
    height: 3rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }

  #searchQuerySubmit:hover {
    cursor: pointer;
  }

/*Events_atm*/
.events{
    /*background-color: #0000004D;*/
    background: linear-gradient(#00000080 0%, #00000099 97%, #000000cc 100%);
    width: 100%;
    padding-bottom: 4rem;
}

.eventCards{
    width: 80%;

}

/*EVENT WEBSITE*/

#container-img{
  padding-top:4rem;
}


/*Profile page*/
#devider{
  width: 85%;
}

#previousEventes{
  background: linear-gradient(#0000004d 0%, #00000080 80%);
  padding-bottom: 1rem;
}

#profile-table{
  width: 100%;
  margin-top:0rem;}

#fade-to-footer{
  background: linear-gradient(#0000004d 0%,#0000004d 10%, #000000cc 100%);
  height: 3rem;
}

@media (max-width: 574px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .text-shift {
    text-align: center;
  }

  #profileImage{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 575px) {
  #profileImage{
    float:right;
  }
}

.events{
  /*background-color: #0000004D;*/
  background: linear-gradient(#00000080 0%, #00000099 97%, #000000cc 100%);
  width: 100%;
  padding-bottom: 4rem;
}

/*EVENT WEBSITE*/

#container-img {
  padding-top: 4rem;
}

/*Profile page*/
#devider {
  width: 85%;
}

#previousEventes {
  background: linear-gradient(#0000004d 0%, #00000080 80%);
  padding-bottom: 1rem;
}

#profile-table {
  width: 100%;
  margin-top: 0rem;
}

#fade-to-footer {
  background: linear-gradient(#0000004d 0%, #0000004d 10%, #000000cc 100%);
  height: 3rem;
}

@media (max-width: 574px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .text-shift {
    text-align: center;
  }

  #profileImage {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 575px) {
  #profileImage {
    float: right;
  }
}

.events {
  /*background-color: #0000004D;*/
  background: linear-gradient(#00000080 0%, #00000099 97%, #000000cc 100%);
  width: 100%;
  padding-bottom: 4rem;
}

.event_left_box {
  /*margin: 1rem;
  margin-right: 2rem;
  padding: 2rem 2rem;
  width: 40%;*/
  width: 50%;
  /*padding-left: 5%;
  padding-top: 5%;*/
  float: left;
}

.event_right_box {
  width: 50%;
  float: left;
}

.card_link {
  text-decoration: none;
  color: black;
}
