/*Footer*/
#footer-container h5 {
  text-decoration: underline;
  color: white;
}

#footer-container a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #b7e3ff;

}

.op30 {
  opacity: 30%;
}

.bg-30 {
  background-color: #0000004d;
}

.drop_shadow {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

#image_run {
  display: block;
}

#searchFade {
  background: linear-gradient(#0000004d 0%, #00000080 80%);
}


/*AUTO GENERADEDD EVENT CARDS*/
.title-text{
  padding-top:1rem;
  padding-left: 1rem;
}

.card-text-content{
  padding-left: 1rem;
}

@media (max-width: 992px) {
  .rounded_style{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  .wrapper {
    max-width: 75%;
  }
}
@media (min-width: 993px) {
  .rounded_style{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  .wrapper {
    max-width: 50%;
  }
}

/*AUTO GENERADEDD EVENT CARDS*/

/*searchbar*/
.wrapper {
  width: 100%;
  margin: 0rem auto;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 3rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 3rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/*Events_atm*/
.events {
  /*background-color: #0000004D;*/
  background: linear-gradient(#00000080 0%, #00000099 97%, #000000cc 100%);
  width: 100%;
  padding-bottom: 4rem;
}

.eventCards {
  width: 80%;
}

/*EVENT WEBSITE*/

#container-img {
  padding-top: 4rem;
}


@media (max-width: 574px) {

}
@media (min-width: 575px) {
  #col_devider{
    border-right: 1px dashed #333;
  }
}

/*Profile page*/
#devider {
  width: 85%;
}

#previousEventes {
  background: linear-gradient(#0000004d 0%, #00000080 80%);
  padding-bottom: 1rem;
}

#profile-table {
  width: 100%;
  margin-top: 0rem;
}

#fade-to-footer {
  background: linear-gradient(#0000004d 0%, #0000004d 10%, #000000cc 100%);
  height: 3rem;
}


.events {
  /*background-color: #0000004D;*/
  background: linear-gradient(#00000080 0%, #00000099 97%, #000000cc 100%);
  width: 100%;
  padding-bottom: 4rem;
}

#event{
  min-height: 30vh;
}
/*EVENT WEBSITE*/


.show-more-btn{
  border: none;
  background-color: white;
  text-decoration: underline;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

/*Profile page*/
#devider {
  width: 85%;
}

#button_black{
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  border: none;
}

#previousEventes {
  background: linear-gradient(#0000004d 0%, #00000080 80%);
  padding-bottom: 1rem;
}

#profile-table {
  width: 100%;
  margin-top: 0rem;
}

#fade-to-footer {
  background: linear-gradient(#0000004d 0%, #0000004d 10%, #000000cc 100%);
  height: 3rem;
}

@media (max-width: 574px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .text-shift {
    text-align: center;
  }

  #profile_image {
    margin-left: auto;
    margin-right: auto;
    max-width: 30vh;
    padding-bottom: 1rem;
  }
}

@media (min-width: 575px) {
  #profile_image {
    float: right;
    max-width: 30vh;
    padding-bottom: 1rem;
  }
}

.create_event {
  float: right;
  margin-right: 10%;
  margin-top: 5%;
}

.card_link {
  text-decoration: none;
  color: black;
}

.nice_text {
  font-family: 'Lato ';
  border:  black;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  padding: 1%;
}

.clear_text {
  color: white;
}

.opacity_background {
  border-radius: 10%;
  height: 100%;
  background-color: rgba(100, 97, 247, 0.136); /* Set the background color with an alpha value of 0.6 to make it semi-transparent */
  z-index: 1; /* Set the z-index to 1 to make sure it is behind any other elements with a higher z-index */
}

/*----------------------------------------------------LOGO*/
@media (max-width: 574px) {
  #logo{
    width: 50%;
  }
}
@media (min-width: 575px) {
  #logo{
    width: 25%;
  }
}

